<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="lastname">Nom:</label><br>
        <input type="text" id="lastname" name="lastname" required><br>
        <label for="firstname">Prénom:</label><br>
        <input type="text" id="firstname" name="firstname" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="phone">Téléphone:</label><br>
        <input type="number" id="phone" name="phone" required><br><br>
        <input type="submit" value="Envoyer">
    </form>
</body>
</html>