<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>

<body>
    
        <% products.forEach(product=> { %>
            
                <a href="/shop/<%= product._id %>">
                    <h2>
                        <%= product.title %>
                    </h2>
                </a>
                <p>Prix: $<%= product.price %></p>
            
            <% }) %>
    
</body>

</html>